
Options Indexes

##
IndexIgnore favicon.ico .htaccess .DS_Store _htaccess

##
# IndexStyleSheet _htaccess/htaccess.css
# HeaderName _htaccess/head.html
# ReadmeName _htaccess/readme.html

##
IndexOptions FancyIndexing
IndexOptions FoldersFirst IgnoreCase XHTML NameWidth=*
IndexOptions SuppressHTMLPreamble SuppressRules HTMLTable
IndexOptions IconHeight=16 IconWidth=16
IndexOptions SuppressDescription

